body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

header {
  background-color: #5eaaf7dd;
  color: #fff;
  text-align: center;
  padding: 30px;
  position: relative;
}

h1 {
  font-size: 36px;
  margin: 0;
}

h2 {
  font-size: 24px;
  margin: 0;
}

.logo-left {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px; /* Set a fixed width for the left logo */
  height: auto; /* Maintain aspect ratio */
}

.logo-right {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 100px; /* Set a fixed width for the right logo */
  height: auto; /* Maintain aspect ratio */
}

.district-links {
  text-align: center;
  margin-top: 20px;
}

.district-links a {
  text-decoration: none;
  color: #333;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px;
  display: inline-block;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.district-links a:hover {
  background-color: #333;
  color: #fff;
}

/* Ensure the images don't overflow */
.overview-image {
  max-width: 50%;
  height: 83vh;
  border-radius: 8px;
}

.goals-image,
.achievements-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.map-container {
  width: 80%;
  height: 750px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  background: white;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.map-containerrr {
  width: 100%;
  height: 750px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  background: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.map-title {
  text-align: center;
  background-color: #b2fef3dd;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  font-weight: bold;
}

/* Content sections */
.content-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto 20px auto;
  width: 80%;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
}

.content-text {
  flex: 1;
  padding: 40px 20px 20px 20px; /* Add padding to account for the heading */
  line-height: 35px;
}

.content-image {
  flex: 1;
  padding: 40px 20px 20px 20px; /* Add padding to account for the heading */
}

.content-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.references-list {
  list-style-type: decimal;
  padding-left: 20px;
}

.references-list li {
  line-height: 35px;
}

/* Streamlit stylings */
/* Style the toggle button */
#toggle-streamlit {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensure the button is above other elements */
  transition: background-color 0.3s ease;
}

#toggle-streamlit:hover {
  background-color: #0056b3;
}

/* Container for the iframe */
#streamlit-container {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 0;
  border: none;
  transition: height 0.3s ease;
  z-index: 999; /* Ensure the container is below the button */
}

#streamlit-iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5eaaf7dd;
  color: #fff;
  padding: 20px 50px;
}

.footer img {
  width: 100px;
  height: auto;
}

.footer .footer-center {
  text-align: center;
}

.footer .footer-center p {
  margin: 5px 0;
  font-size: 18px;
}

.references ul {
  list-style-type: decimal; /* Use decimal for numbered list */
  padding-left: 20px; /* Add padding for proper alignment */
  margin: 0;
}

.references li {
  margin-bottom: 10px; /* Add space between list items */
  line-height: 1.6;
}

hr {
  border: none;
  height: 2px;
  background: linear-gradient(to right, #5eaaf7, #b2fef3);
  width: 85%;
  margin: 20px auto;
}

.section-heading {
  position: absolute;
  top: 0;
  left: 20px;
  margin: 0;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  background-color: #fff;
  z-index: 1;
}
