body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1fb1bc;
  color: #fff;
  text-align: center;
  padding: 30px;
  position: relative;
}

h1 {
  font-size: 36px;
  margin: 0;
}

h2 {
  font-size: 24px;
  margin: 0;
}

.logo-left {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px; /* Set a fixed width for the left logo */
  height: auto; /* Maintain aspect ratio */
}

.logo-right {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 100px; /* Set a fixed width for the right logo */
  height: auto; /* Maintain aspect ratio */
}

.district-links {
  text-align: center;
  margin-top: 20px;
}

.district-links a {
  text-decoration: none;
  color: #333;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px;
  display: inline-block;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.district-links a:hover {
  background-color: #333;
  color: #fff;
}

.map-image {
  text-align: center;
  margin-top: 50px;
}

.map-image img {
  max-width: 80%; /* Adjust the percentage to your preference */
  height: auto;
  display: block; /* Ensure the image is displayed as a block element */
  margin: 0 auto; /* Center the image horizontally */
}
footer {
  background-color: #1fb1bc;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}
