body {
  font-family: Arial, sans-serif;
  background-color: #eaf2f7;
  margin: 0;
  padding: 0;
}

header {
  background-color: #5eaaf7dd;
  color: #fff;
  text-align: center;
  padding: 30px;
  position: relative;
}

h1 {
  font-size: 36px;
  margin: 0;
}

h2 {
  font-size: 24px;
  margin: 0;
}

.logo-left {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px;
  height: auto;
}

.logo-right {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 100px;
  height: auto;
}

.district-links {
  text-align: center;
  margin-top: 20px;
}

.district-links a {
  text-decoration: none;
  color: #333;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px;
  display: inline-block;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.district-links a:hover {
  background-color: #333;
  color: #fff;
}

.overview-image {
  max-width: 50%;
  height: 83vh;
  border-radius: 8px;
}

.goals-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.achievements-image {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.map-container {
  width: 80%;
  height: 750px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  background: white;
  margin: 20px auto;
}

.map-containerrr {
  width: 100%;
  height: 750px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  background: white;
  margin: 20px 0;
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.map-title {
  text-align: center;
  background-color: #b2fef3dd;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  font-weight: bold;
}

.content-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  width: 80%;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
}

.content-text {
  flex: 1;
  padding: 40px 20px;
  line-height: 35px;
  font-size: 18px;
}

.content-image {
  flex: 1;
  padding: 40px 20px;
}

.content-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.references-list {
  list-style-type: decimal;
  padding-left: 20px;
}

.references-list li {
  line-height: 35px;
}

/* Streamlit stylings */
#toggle-streamlit {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: background-color 0.3s ease;
}

#toggle-streamlit:hover {
  background-color: #0056b3;
}

#streamlit-container {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  border: none;
  transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  z-index: 999;
}

#streamlit-iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5eaaf7dd;
  color: #fff;
  padding: 20px 50px;
}

.footer img {
  width: 100px;
  height: auto;
}

.footer .footer-center {
  text-align: center;
}

.footer .footer-center p {
  margin: 5px 0;
  font-size: 18px;
}

.references ul {
  list-style-type: decimal;
  padding-left: 20px;
  margin: 0;
}

.references li {
  margin-bottom: 10px;
  line-height: 1.6;
}

hr {
  border: none;
  height: 2px;
  background: linear-gradient(to right, #5eaaf7, #b2fef3);
  width: 85%;
  margin: 20px auto;
}

.section-heading {
  position: absolute;
  top: 0;
  left: 20px;
  margin: 0;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  background-color: #fff;
  z-index: 1;
}

/* Key Achievements Specific Styles */
.key-achievements {
  padding: 30px;
  border-radius: 10px;
  height: 40vh;
}

.key-achievements h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

.key-achievements .content-text {
  font-size: 18px;
  line-height: 33px;
  margin-top: 30px;
}

.key-achievements .content-image img {
  width: 80%;
  height: 70%;
  margin-left: 100px;
}

.reference {
  /* border: 2px solid red; */
  height: 30vh;
}
